@{
    ViewBag.Title = "fileupload";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>fileupload</h2>
<div>

    <div class="form-group">
        <input type="file" id="myfile" />
    </div>
    <input id="btn1" class="btn btn-default" type="button" value="Upload" />
</div>


<script>
    $(document).ready(function () {
        $('#btn1').click(function () {
            if ($('#myfile').val() == '') {
                alert('Please select file');
                return;
            }

            var formData = new FormData();
            var file = $('#myfile')[0];
            formData.append('file', file.files[0]);
            $.ajax({
                url: '/api/fileUpload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (d) {
                    alert('file is uploaded successfully')
                },
                error: function () {
                    alert('Some thing went wrong');
                }
            });
        });
    });
</script>